<div class="container">
  <h1 class="my-4">Stupid coaching</h1>

  <div>
    <div class="card question-card mb-4">
      <p><%= @question %></p>
      <p>-You</p>
    </div>

  <div class="coach-answer mb-4">
    <p><%= @answer %></p>
    <p>-Your coach</p>
  </div>
  <%= link_to "A new question", form_path %>

  </div>
</div>
