<div class="container">
  <h1 class="my-4">Stupid coaching</h1>

  <div class="form-inline">
    <form action="answer" method="get">
      <div class="input-group">
        <input type="text" name="question" placeholder="What do you want?" class="form-control">
        <div class="input-group-append">
          <input type="submit" class="btn btn-primary form-control" value="Ask the coach!">
        </div>
      </div>
    </form>
  </div>
</div>
